*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 10px;
    min-height: 100vh;
    background: linear-gradient(skyblue, white);
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 4rem;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: .7s;
}

h3{
    margin-top: 2rem;
    font-size: 3rem;
    color: #fff;
    text-shadow: 0px 2px 5px black;
}

.searchdiv input{
    background: linear-gradient(90deg, lightblue, white);
    border: none;
    box-shadow: 0px 1px 2px black;
    height: 2.5rem;
    width: 30vw;
    text-align: center;
    transition: .5s;
}

.searchdiv input:hover{
    background:linear-gradient(90deg, white, steelblue);
    color: blue;
}

.searchdiv button{
    display: block;
    background: linear-gradient(90deg, lightblue, white);
    border: none;
    box-shadow: 0px 1px 2px black;
    height: 2.5rem;
    width: 15vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 10px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bold;
    transition: .5s;
}

.searchdiv button:hover{
    color: white;
    background: linear-gradient(90deg, darkblue, lightblue);
}

.searchdiv{
    margin-top: 4rem;
}

.card{
    width: auto;
    height: 140px;
    background: linear-gradient(45deg, steelblue,white);
    box-shadow: 0px 2px 10px black;
    border-radius: 20px;
    padding: 1.5rem;
    transition: .5s;
}

.card:hover{
    height: 350px;
    width: auto;
    background: linear-gradient(360deg, steelblue,white);
}

.imgbx{
    position: relative;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    width:fit-content;
    height: min-content;
    padding: 10px;
    box-shadow: 0px 2px 6px black;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    color: darkblue;
}

.cityName h1{
    text-transform: uppercase;
    color: darkblue;
    text-shadow: 0px 2px 4px gray;
}

.content{
    position: relative;
    height: 40%;
    width: 100%;
    overflow: hidden;
}

.card:hover .content{
    height: fit-content;
}

.data{
    text-align: center;
}

.card:hover .data .cityName p{
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 0;
}

.moredtls{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: .7s;
}

.value {
    margin-right: 20px;
    text-align: left;
}

span {
    text-align: left;
    line-height: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    transition: .5s;
    line-height: 40px;
}

.card:hover .data .moredtls p{
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 40px;
    text-align: right;
}

.card .data .f::after{
    content: '°F';
}
.card .data .c::after{
    content: '°C';
}

@media (max-width : 660px){
    .searchdiv button {
        padding: 5px;
        width: fit-content;
    }

    .searchdiv input {
        width: 50vw;
    }

    h3{
        text-align: center;
        margin: 2rem;
    }
    .searchdiv button{
        letter-spacing: 2px;
    }
}

@media (max-width : 410px){
    h3{
        font-size: 2rem;
    }

    .card {
        padding: .8rem;
        margin: 5px;
    }

    .card:hover{
        height: 250px;
        width: auto;
        background: linear-gradient(360deg, steelblue,white);
    }
    .card:hover .data .moredtls p{
        font-size: 1.2rem;
        font-weight: normal;
        line-height: 20px;
        text-align: right;
    }

    h1{
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }
    span {
        text-align: left;
        line-height: 20px;
        font-size: 1.2rem;
        /* font-weight: bold; */
        transition: .5s;
        line-height: 20px;
    }
}

@media (max-width : 310px){
    .card:hover{
        height: auto;
    }
}

@media (max-width : 290px){
    span {
        line-height: 40px;
    }
}